<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">Connexion</h1>
        <form action="" method="POST">
            <div class="container-input">
                <label for="username">Username</label>
                <div class="input-div">
                    <input type="text" name="username" id="username" required autofocus>
                </div>
            </div>
            <div class="container-input">
                <label for="password">Mot de passe</label>
                <div class="input-div">
                    <input type="password" name="password" id="password" required autofocus>
                </div>
            </div>
            <div class="container-submit">
                <button type="submit" class="submit-btn">Log in</button>
            </div>
        </form>
    </div>
</body>
</html>